*{
  box-sizing: border-box;
  color: black
}
html{
  margin: 0;
  padding: 0;
  background: white;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body{
  margin: 0;
  top:0;
  background-color: whitesmoke !important;
  height: 90%;
  width: 90%;
  padding: 5%;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p,a{
  word-wrap: break-word;
  text-align: justify;
  max-width: 98vw;
  padding: 0.5vw;
  font-size: 1.4rem;
}
a{
  color: purple;
  text-decoration: none;
}
.contact>ul>li {
  list-style:none;
  padding: 0.3rem;
}
.contact>ul>li::before{
  content: "➡️";
  color: purple;
  font-size: 1.5rem;
}
footer{
  height: 5vh;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5vh;
}

@media screen and (max-width: 600px){
  p img{
    width: 100%;
    height: auto;
  }
}
