*{
  box-sizing:border-box;
  background-color: #ffffff !important;
}
html.body {
  scroll-behavior: smooth;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding:0%;
  min-height: 100vh;
}
h1{
  background: transparent;
}
.intro,
.Whoami,
.Contact,
.Hobby,
.Education,
.Skills {
  display: flex;
  width: 70vw;
  font-family: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  scroll-behavior: smooth;
  
}
p,
a {
  background: transparent;
  background-color: aliceblue;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
}
p{
  padding: 5vh;
  border-radius: 47px;
  background: linear-gradient(145deg, #e6e4e4, #ffffff);
  box-shadow:  17px 17px 34px #696868,-17px -17px 34px #ffffff;
  text-shadow: -8px -8px 12px rgba(255,255,255,0.4), 8px 8px 12px rgba(0,0,0,0.08);
  
}
.main {
  display: flex;
  flex-direction: column;
  width: 99vw;
  align-items: center;
  justify-content: center;
  color: rgba(41, 3, 77, 0.904);
}
li {
  float: left;
  list-style-type: none;
  padding: 2%;
}
svg {
  width: 15vw;
  height: 16vh;
  float: right;
}
footer {
  text-align: center;
  font-size: small;
}
.call {
  position: fixed;
  right: 0px;
  background: inherit;
  bottom: 50vh;
}
.main img {
  width: 20vh;
  border-radius: 19px;
background: linear-gradient(145deg, #ffffff, #e6e4e4);
box-shadow:  12px 12px 14px #666565,
             -22px -22px 44px #ffffff;
}
/* hovers */
p:hover {
  
  box-shadow: 0px 0px 10px 10px rgba(171, 33, 252, 0.5);
  background-color: rgba(171, 33, 252, 0.5);
  font-weight: bold;
  color: black;
}
.main img:hover{
  box-shadow: 0px 0px 10px 10px rgba(171, 33, 252, 0.5);
  background-color: rgba(171, 33, 252, 0.5);
  font-weight: bold;
  color: black;
}
a:hover {
  color: rgb(15, 14, 14);
}