*{
  box-sizing: border-box;
  color: black
}
html{
  margin: 0;
  padding: 0;
  background: whitesmoke !important;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body{
  margin-top: 2vh;
  margin-bottom: 3vh;
  margin-left: 2vw;
  margin-right: 4vw;
  overflow-x: hidden;
  width: 90vw;
  padding: 2vw;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* neumorphism */
  border-radius: 45px;
  background: #dcdbdb;
  box-shadow:  28px 28px 56px #a5a4a4,
             -28px -28px 56px #ffffff;
}
p,a{
  word-wrap: break-word;
  text-align: justify;
  max-width: 78vw;
  padding: 0.5vw;
  font-size: 1rem;
}
a{
  color: purple;
  text-decoration: none;
}
.contact>ul>li {
  list-style:none;
  padding: 0.3rem;
}
.contact>ul>li::before{
  content: "➡️";
  color: purple;
  font-size: 1.5rem;
}
footer{
  height: 5vh;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5vh;
}

@media screen and (max-width: 600px){
  p img{
    width: 100%;
    height: auto;
  }
}
