*{
  font-variant: small-caps;
  box-sizing:border-box;
}
html,body {
  background: aliceblue !important;
  scroll-behavior: smooth;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 0;
  min-height: 100vh;
}
div{
  padding: 4%;
  display: flex;
  font-family: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:40vw;
  scroll-behavior: smooth;
}
p{
  font-size: 1rem;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
  padding: 5%;
  color:  rgba(23, 14, 31, 0.904);
  border-radius: 47px;
  background: linear-gradient(145deg, #e6e4e4, #ffffff);
  box-shadow:  17px 17px 34px #696868,-17px -17px 34px #ffffff;
  text-shadow: -8px -8px 12px rgba(255,255,255,0.4), 8px 8px 12px rgba(0,0,0,0.08);
}
a{
  text-shadow: -8px -8px 12px rgba(255,255,255,0.4), 8px 8px 12px rgba(0,0,0,0.08);
  background: linear-gradient(145deg, #e6e4e4, #ffffff);
  text-decoration: none;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
}

p,a{
  font-weight: 1000;
}
img { 
  width: 15vw;
  border-radius: 29px;
  background: linear-gradient(145deg, #ffffff, #e6e4e4);
  box-shadow:  12px 12px 14px #666565,
             -22px -22px 44px #ffffff;
}
ol,li{
  list-style-type: square;
}
button{
  cursor: pointer;
  background: purple;
  font-size: 1.3rem;
  color: white;
  border-radius: 19px;
  padding: 3%;
  box-shadow:  12px 12px 14px #666565,
  -22px -22px 44px #ffffff;
}
button noscript a{
  background: purple;
  font-size: 1.3rem;
  color: white;
  text-decoration: dashed;
  cursor: pointer; 
}
@media screen and (max-width: 600px){
  html,body{
    flex-direction: column;
  } 
  img{
    width: 60vw;
  }
  div{
    width: 90vw;
  }
}